/* #box{
    background-color: aliceblue;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex; 
    justify-content: center; /* horizontal center */
    /* align-items: center;     vertical center     */
/* }  */
/* h2{
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}  */

#parent{
        height: 100%;
        width: 100%;
        background-color: skyblue;
}